<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>


# Exploring and pre-processing a dataset using Pandas 


Estimated time needed: **30** minutes
    

## Objectives

After completing this lab you will be able to:

* Explore the dataset
* Pre-process dataset as required (may be for visualization)

## Introduction

The aim of this lab is to provide you a refresher on the **Pandas** library, so that you can pre-process and anlyse the datasets before applying data visualization techniques on it. This lab will work as acrash course on *pandas*. if you are interested in learning more about the *pandas* library, detailed description and explanation of how to use it and how to clean, munge, and process data stored in a *pandas* dataframe are provided in our course [**Data Analysis with Python**](https://www.coursera.org/learn/data-analysis-with-python?specialization=ibm-data-analyst) and [**Python for Applied Data Science**](https://www.coursera.org/learn/python-for-applied-data-science-ai?specialization=ibm-data-analyst)

------------

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

1. [Exploring Datasets with *pandas*](#0)<br>
2. [The Dataset: Immigration to Canada from 1980 to 2013](#1)<br>
3. [*pandas* Basics](#2) <br>
4. [*pandas* Intermediate: Indexing and Selection](#3) <br>
5. [*pandas* Filtering based on a criteria](#4)<br>
6. [*pandas* Sorting Values](#5)

</div>

# Exploring Datasets with *pandas* <a id="0"></a>

*pandas* is an essential data analysis toolkit for Python. From their [website](http://pandas.pydata.org/):
>*pandas* is a Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, **real world** data analysis in Python.

The course heavily relies on *pandas* for data wrangling, analysis, and visualization. We encourage you to spend some time and familiarize yourself with the *pandas* API Reference: http://pandas.pydata.org/pandas-docs/stable/api.html.

## The Dataset: Immigration to Canada from 1980 to 2013 <a id="1"></a>

Dataset Source: [International migration flows to and from selected countries - The 2015 revision](https://www.un.org/development/desa/pd/data/international-migration-flows).

The dataset contains annual data on the flows of international immigrants as recorded by the countries of destination. The data presents both inflows and outflows according to the place of birth, citizenship or place of previous / next residence both for foreigners and nationals. The current version presents data pertaining to 45 countries.

In this lab, we will focus on the Canadian immigration data.

![Data Preview](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/labs/Module%201/images/DataSnapshot.png)

 The Canada Immigration dataset can be fetched from <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/Data%20Files/Canada.xlsx">here</a>.

---

## *pandas* Basics<a id="2"></a>

The first thing we'll do is install **openpyxl** (formerly **xlrd**), a module that *pandas* requires to read Excel files.

In [2]:
conda install mamba -c conda-forge

Collecting package metadata (current_repodata.json): ...working... done
Note: you may need to restart the kernel to use updated packages.

Solving environment: ...working... done

## Package Plan ##

  environment location: C:\ProgramData\anaconda3

  added / updated specs:
    - mamba


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    archspec-0.2.2             |     pyhd8ed1ab_0          41 KB  conda-forge
    ca-certificates-2023.7.22  |       h56e8100_0         146 KB  conda-forge
    certifi-2023.7.22          |     pyhd8ed1ab_0         150 KB  conda-forge
    conda-23.10.0              |  py311h1ea47a8_0         1.2 MB  conda-forge
    conda-libmamba-solver-23.11.0|     pyhd8ed1ab_0          45 KB  conda-forge
    curl-8.4.0                 |       hd5e4a3a_0         145 KB  conda-forge
    fmt-10.1.1                 |       h181d51b_0         178 KB  conda-forge
    gst-plugins-base-1.18.5    |       h9e645db_0         1.7 MB
    gstreamer-1.18.5           |       hd78058f_0         1.7 MB
    krb5-1.21.2                |       heb0366b_0         694 KB  conda-forge
    libarchive-3.7.2           |       h6f8411a_0         931 KB  conda-forge
    libclang-12.0.0            |default_h627e005_2        17.8 MB
    libcurl-8.4.0              |       hd5e4a3a_0         314 KB  conda-forge
    libiconv-1.17              |       h8ffe710_0         698 KB  conda-forge
    libmamba-1.5.3             |       h3f09ed1_2         3.4 MB  conda-forge
    libmambapy-1.5.3           |  py311h0317a69_2         413 KB  conda-forge
    libogg-1.3.4               |       h8ffe710_1          34 KB  conda-forge
    libssh2-1.11.0             |       h7dfc565_0         261 KB  conda-forge
    libvorbis-1.3.7            |       h0e60522_0         267 KB  conda-forge
    libxml2-2.11.5             |       hc3477c8_1         1.5 MB  conda-forge
    libxslt-1.1.37             |       h6070c61_1         407 KB  conda-forge
    libzlib-1.2.13             |       hcfcfb64_5          54 KB  conda-forge
    lxml-4.9.3                 |  py311h750ae06_1        1010 KB  conda-forge
    mamba-1.5.3                |  py311h8cb466b_2          81 KB  conda-forge
    openssl-3.1.4              |       hcfcfb64_0         7.1 MB  conda-forge
    pyqt-5.15.10               |  py311hd77b12b_0         4.1 MB
    pyqt5-sip-12.13.0          |  py311h2bbff1b_0          75 KB
    pyqtwebengine-5.15.10      |  py311hd77b12b_0         134 KB
    python_abi-3.11            |          2_cp311           5 KB  conda-forge
    qt-main-5.15.2             |       he8e5bd7_7        50.0 MB
    sip-6.7.12                 |  py311h12c1d0e_0         581 KB  conda-forge
    tomli-2.0.1                |     pyhd8ed1ab_0          16 KB  conda-forge
    truststore-0.8.0           |     pyhd8ed1ab_0          20 KB  conda-forge
    ucrt-10.0.22621.0          |       h57928b3_0         1.2 MB  conda-forge
    vc14_runtime-14.36.32532   |      hdcecf7f_17         722 KB  conda-forge
    vs2015_runtime-14.36.32532 |      h05e6639_17          17 KB  conda-forge
    yaml-cpp-0.8.0             |       h63175ca_0         133 KB  conda-forge
    zlib-1.2.13                |       hcfcfb64_5         105 KB  conda-forge
    ------------------------------------------------------------
                                           Total:        97.1 MB

The following NEW packages will be INSTALLED:

  archspec           conda-forge/noarch::archspec-0.2.2-pyhd8ed1ab_0
  gst-plugins-base   pkgs/main/win-64::gst-plugins-base-1.18.5-h9e645db_0
  gstreamer          pkgs/main/win-64::gstreamer-1.18.5-hd78058f_0
  libogg             conda-forge/win-64::libogg-1.3.4-h8ffe710_1
  libvorbis          conda-forge/win-64::libvorbis-1.3.7-h0e60522_0
  libzlib            conda-forge/win-64::libzlib-1.2.13-hcfcfb64_5
  mamba              conda-forge/win-64::mamba-1.5.3-py311h8cb466b_2
  python_abi         conda-forge/win-64::python_abi-3.11-2_cp311
  tomli              conda-forge/noarch::tomli-2.0.1-pyhd8ed1ab_0
  truststore         conda-forge/noarch::truststore-0.8.0-pyhd8ed1ab_0
  ucrt               conda-forge/win-64::ucrt-10.0.22621.0-h57928b3_0
  vc14_runtime       conda-forge/win-64::vc14_runtime-14.36.32532-hdcecf7f_17

The following packages will be REMOVED:

  libpq-12.15-h906ac69_1
  qtwebkit-5.212-h2bbfb41_5

The following packages will be UPDATED:

  conda              pkgs/main::conda-23.7.4-py311haa95532~ --> conda-forge::conda-23.10.0-py311h1ea47a8_0
  conda-libmamba-so~ pkgs/main/win-64::conda-libmamba-solv~ --> conda-forge/noarch::conda-libmamba-solver-23.11.0-pyhd8ed1ab_0
  curl                     pkgs/main::curl-8.1.1-h2bbff1b_0 --> conda-forge::curl-8.4.0-hd5e4a3a_0
  fmt                       pkgs/main::fmt-9.1.0-h6d14046_0 --> conda-forge::fmt-10.1.1-h181d51b_0
  krb5                    pkgs/main::krb5-1.20.1-h5b6d351_0 --> conda-forge::krb5-1.21.2-heb0366b_0
  libarchive         pkgs/main::libarchive-3.6.2-hb62f4d4_2 --> conda-forge::libarchive-3.7.2-h6f8411a_0
  libcurl               pkgs/main::libcurl-8.1.1-h86230a5_0 --> conda-forge::libcurl-8.4.0-hd5e4a3a_0
  libiconv              pkgs/main::libiconv-1.16-h2bbff1b_2 --> conda-forge::libiconv-1.17-h8ffe710_0
  libmamba             pkgs/main::libmamba-1.5.1-hcd6fe79_0 --> conda-forge::libmamba-1.5.3-h3f09ed1_2
  libmambapy         pkgs/main::libmambapy-1.5.1-py311h77c~ --> conda-forge::libmambapy-1.5.3-py311h0317a69_2
  libssh2              pkgs/main::libssh2-1.10.0-he2ea4bf_2 --> conda-forge::libssh2-1.11.0-h7dfc565_0
  libxml2              pkgs/main::libxml2-2.10.4-h0ad7f3c_1 --> conda-forge::libxml2-2.11.5-hc3477c8_1
  lxml                pkgs/main::lxml-4.9.3-py311h09808a7_0 --> conda-forge::lxml-4.9.3-py311h750ae06_1
  openssl              pkgs/main::openssl-3.0.10-h2bbff1b_2 --> conda-forge::openssl-3.1.4-hcfcfb64_0
  pyqt                               5.15.7-py311hd77b12b_0 --> 5.15.10-py311hd77b12b_0
  pyqt5-sip                         12.11.0-py311hd77b12b_0 --> 12.13.0-py311h2bbff1b_0
  pyqtwebengine                      5.15.7-py311hd77b12b_0 --> 5.15.10-py311hd77b12b_0
  sip                  pkgs/main::sip-6.6.2-py311hd77b12b_0 --> conda-forge::sip-6.7.12-py311h12c1d0e_0
  vs2015_runtime     pkgs/main::vs2015_runtime-14.27.29016~ --> conda-forge::vs2015_runtime-14.36.32532-h05e6639_17
  yaml-cpp             pkgs/main::yaml-cpp-0.7.0-hd77b12b_1 --> conda-forge::yaml-cpp-0.8.0-h63175ca_0
  zlib                    pkgs/main::zlib-1.2.13-h8cc25b3_0 --> conda-forge::zlib-1.2.13-hcfcfb64_5

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates    pkgs/main::ca-certificates-2023.08.22~ --> conda-forge::ca-certificates-2023.7.22-h56e8100_0
  certifi            pkgs/main/win-64::certifi-2023.7.22-p~ --> conda-forge/noarch::certifi-2023.7.22-pyhd8ed1ab_0
  libxslt              pkgs/main::libxslt-1.1.37-h2bbff1b_1 --> conda-forge::libxslt-1.1.37-h6070c61_1

The following packages will be DOWNGRADED:

  libclang                        14.0.6-default_hb5a9fac_1 --> 12.0.0-default_h627e005_2
  qt-main                                 5.15.2-h879a1e9_9 --> 5.15.2-he8e5bd7_7



Downloading and Extracting Packages

yaml-cpp-0.8.0       | 133 KB    |            |   0%

sip-6.7.12           | 581 KB    |            |   0%


libiconv-1.17        | 698 KB    |            |   0%



libcurl-8.4.0        | 314 KB    |            |   0%




curl-8.4.0           | 145 KB    |            |   0%





ucrt-10.0.22621.0    | 1.2 MB    |            |   0%






gst-plugins-base-1.1 | 1.7 MB    |            |   0%







ca-certificates-2023 | 146 KB    |            |   0%








mamba-1.5.3          | 81 KB     |            |   0%









libogg-1.3.4         | 34 KB     |            |   0%










krb5-1.21.2          | 694 KB    |            |   0%











libarchive-3.7.2     | 931 KB    |            |   0%












libxml2-2.11.5       | 1.5 MB    |            |   0%













pyqt5-sip-12.13.0    | 75 KB     |            |   0%














python_abi-3.11      | 5 KB      |            |   0%















lxml-4.9.3           | 1010 KB   |            |   0%
















libxslt-1.1.37       | 407 KB    |            |   0%

















archspec-0.2.2       | 41 KB     |            |   0%


















qt-main-5.15.2       | 50.0 MB   |            |   0%



















 ... (more hidden) ...
yaml-cpp-0.8.0       | 133 KB    | #1         |  12%

sip-6.7.12           | 581 KB    | 2          |   3%





ucrt-10.0.22621.0    | 1.2 MB    | 1          |   1%


libiconv-1.17        | 698 KB    | 2          |   2%







ca-certificates-2023 | 146 KB    | #          |  11%








mamba-1.5.3          | 81 KB     | #9         |  20%









libogg-1.3.4         | 34 KB     | ####6      |  47%










krb5-1.21.2          | 694 KB    | 2          |   2%











libarchive-3.7.2     | 931 KB    | 1          |   2%
yaml-cpp-0.8.0       | 133 KB    | ########## | 100%
yaml-cpp-0.8.0       | 133 KB    | ########## | 100%












libxml2-2.11.5       | 1.5 MB    | 1          |   1%














python_abi-3.11      | 5 KB      | ########## | 100%




curl-8.4.0           | 145 KB    | #1         |  11%



libcurl-8.4.0        | 314 KB    | 5          |   5%

















archspec-0.2.2       | 41 KB     | ###8       |  39%















lxml-4.9.3           | 1010 KB   | 1          |   2%
















libxslt-1.1.37       | 407 KB    | 3          |   4%



















 ... (more hidden) ...


libiconv-1.17        | 698 KB    | ########## | 100%


libiconv-1.17        | 698 KB    | ########## | 100%







ca-certificates-2023 | 146 KB    | ########## | 100%







ca-certificates-2023 | 146 KB    | ########## | 100%








mamba-1.5.3          | 81 KB     | ########## | 100%








mamba-1.5.3          | 81 KB     | ########## | 100%









libogg-1.3.4         | 34 KB     | ########## | 100%









libogg-1.3.4         | 34 KB     | ########## | 100%

sip-6.7.12           | 581 KB    | ########## | 100%

sip-6.7.12           | 581 KB    | ########## | 100%





ucrt-10.0.22621.0    | 1.2 MB    | ########## | 100%





ucrt-10.0.22621.0    | 1.2 MB    | ########## | 100%










krb5-1.21.2          | 694 KB    | ########## | 100%










krb5-1.21.2          | 694 KB    | ########## | 100%














python_abi-3.11      | 5 KB      | ########## | 100%




curl-8.4.0           | 145 KB    | ########## | 100%




curl-8.4.0           | 145 KB    | ########## | 100%











libarchive-3.7.2     | 931 KB    | ########## | 100%











libarchive-3.7.2     | 931 KB    | ########## | 100%



libcurl-8.4.0        | 314 KB    | ########## | 100%



libcurl-8.4.0        | 314 KB    | ########## | 100%












libxml2-2.11.5       | 1.5 MB    | ########## | 100%












libxml2-2.11.5       | 1.5 MB    | ########## | 100%

















archspec-0.2.2       | 41 KB     | ########## | 100%

















archspec-0.2.2       | 41 KB     | ########## | 100%






gst-plugins-base-1.1 | 1.7 MB    |            |   1%






gst-plugins-base-1.1 | 1.7 MB    | #######5   |  75%













pyqt5-sip-12.13.0    | 75 KB     | ##1        |  21%



















 ... (more hidden) ...



















 ... (more hidden) ...
















libxslt-1.1.37       | 407 KB    | ########## | 100%
















libxslt-1.1.37       | 407 KB    | ########## | 100%















lxml-4.9.3           | 1010 KB   | ########## | 100%















lxml-4.9.3           | 1010 KB   | ########## | 100%


















qt-main-5.15.2       | 50.0 MB   |            |   0%


















qt-main-5.15.2       | 50.0 MB   | 1          |   2%


















qt-main-5.15.2       | 50.0 MB   | 2          |   2%


















qt-main-5.15.2       | 50.0 MB   | 4          |   5%


















qt-main-5.15.2       | 50.0 MB   | 7          |   8%













pyqt5-sip-12.13.0    | 75 KB     | ########## | 100%













pyqt5-sip-12.13.0    | 75 KB     | ########## | 100%


















qt-main-5.15.2       | 50.0 MB   | 9          |  10%


















qt-main-5.15.2       | 50.0 MB   | #2         |  13%


















qt-main-5.15.2       | 50.0 MB   | #5         |  15%


















qt-main-5.15.2       | 50.0 MB   | #7         |  18%


















qt-main-5.15.2       | 50.0 MB   | ##         |  20%


















qt-main-5.15.2       | 50.0 MB   | ##2        |  23%


















qt-main-5.15.2       | 50.0 MB   | ##6        |  26%


















qt-main-5.15.2       | 50.0 MB   | ###        |  30%


















qt-main-5.15.2       | 50.0 MB   | ###4       |  34%


















qt-main-5.15.2       | 50.0 MB   | ###8       |  39%


















qt-main-5.15.2       | 50.0 MB   | ####2      |  43%


















qt-main-5.15.2       | 50.0 MB   | ####6      |  46%


















qt-main-5.15.2       | 50.0 MB   | ####9      |  49%


















qt-main-5.15.2       | 50.0 MB   | #####2     |  52%


















qt-main-5.15.2       | 50.0 MB   | #####4     |  55%


















qt-main-5.15.2       | 50.0 MB   | #####7     |  58%


















qt-main-5.15.2       | 50.0 MB   | ######     |  60%


















qt-main-5.15.2       | 50.0 MB   | ######2    |  63%






gst-plugins-base-1.1 | 1.7 MB    | ########## | 100%


















qt-main-5.15.2       | 50.0 MB   | ######4    |  65%


















qt-main-5.15.2       | 50.0 MB   | ######7    |  68%


















qt-main-5.15.2       | 50.0 MB   | ######9    |  70%


















qt-main-5.15.2       | 50.0 MB   | #######2   |  72%


















qt-main-5.15.2       | 50.0 MB   | #######4   |  75%


















qt-main-5.15.2       | 50.0 MB   | #######7   |  77%


















qt-main-5.15.2       | 50.0 MB   | ########3  |  83%


















qt-main-5.15.2       | 50.0 MB   | ########8  |  89%


















qt-main-5.15.2       | 50.0 MB   | #########6 |  97%


















qt-main-5.15.2       | 50.0 MB   | ########## | 100%




















































































































































































































































































































































































































Preparing transaction: ...working... done
Verifying transaction: ...working... failed

==> WARNING: A newer version of conda exists. <==
  current version: 23.7.4
  latest version: 23.10.0

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=23.10.0



EnvironmentNotWritableError: The current user does not have write permissions to the target environment.
  environment location: C:\ProgramData\anaconda3

In [3]:
!mamba install openpyxl==3.0.9 -y

'mamba' is not recognized as an internal or external command,
operable program or batch file.

Next, we'll do is import two key data analysis modules: *pandas* and *numpy*.

In [4]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library

Let's download and import our primary Canadian Immigration dataset using *pandas*'s `read_excel()` method.

In [5]:
df_can = pd.read_excel(
    'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/Data%20Files/Canada.xlsx',
    sheet_name='Canada by Citizenship',
    skiprows=range(20),
    skipfooter=2)

print('Data read into a pandas dataframe!')

Data read into a pandas dataframe!

In [9]:
try:
    # Load the data into a DataFrame
    df_can = pd.read_excel(
    'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/Data%20Files/Canada.xlsx',
    sheet_name='Canada by Citizenship',
    skiprows=range(20),
    skipfooter=2)

except FileNotFoundError:
    print(f"Error: The file '{file_path}' was not found.")
except Exception as e:
    print(f"An error occurred: {e}")

In [8]:
import numpy as np
import pandas as pd

print("NumPy version:", np.__version__)
print("Pandas version:", pd.__version__)

NumPy version: 1.24.3
Pandas version: 2.0.3

Let's view the top 5 rows of the dataset using the `head()` function.

In [11]:
df_can.head(5)
# tip: You can specify the number of rows you'd like to see as follows: df_can.head(10)

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1

We can also view the bottom 5 rows of the dataset using the `tail()` function.

In [12]:
df_can.tail(5)

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,...,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,...,124,161,140,122,133,128,211,160,174,217
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,...,56,91,77,71,64,60,102,69,46,59
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,...,1450,615,454,663,611,508,494,434,437,407

When analyzing a dataset, it's always a good idea to start by getting basic information about your dataframe. We can do this by using the `info()` method.

This method can be used to get a short summary of the dataframe.

In [13]:
df_can.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Columns: 43 entries, Type to 2013
dtypes: int64(37), object(6)
memory usage: 65.6+ KB

To get the list of column headers we can call upon the data frame's `columns` instance variable.

In [14]:
df_can.columns

Index([    'Type', 'Coverage',   'OdName',     'AREA', 'AreaName',      'REG',
        'RegName',      'DEV',  'DevName',       1980,       1981,       1982,
             1983,       1984,       1985,       1986,       1987,       1988,
             1989,       1990,       1991,       1992,       1993,       1994,
             1995,       1996,       1997,       1998,       1999,       2000,
             2001,       2002,       2003,       2004,       2005,       2006,
             2007,       2008,       2009,       2010,       2011,       2012,
             2013],
      dtype='object')

Similarly, to get the list of indices we use the `.index` instance variables.

In [15]:
df_can.index

RangeIndex(start=0, stop=195, step=1)

Note: The default type of intance variables `index` and `columns` are **NOT** `list`.

In [16]:
print(type(df_can.columns))
print(type(df_can.index))

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.range.RangeIndex'>

To get the index and columns as lists, we can use the `tolist()` method.

In [17]:
df_can.columns.tolist()

['Type',
 'Coverage',
 'OdName',
 'AREA',
 'AreaName',
 'REG',
 'RegName',
 'DEV',
 'DevName',
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013]

In [18]:
df_can.index.tolist()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194]

In [19]:
print(type(df_can.columns.tolist()))
print(type(df_can.index.tolist()))

<class 'list'>
<class 'list'>

To view the dimensions of the dataframe, we use the `shape` instance variable of it.

In [20]:
# size of dataframe (rows, columns)
df_can.shape

(195, 43)

**Note**: The main types stored in *pandas* objects are `float`, `int`, `bool`, `datetime64[ns]`, `datetime64[ns, tz]`, `timedelta[ns]`, `category`, and `object` (string). In addition, these dtypes have item sizes, e.g. `int64` and `int32`.

Let's clean the data set to remove a few unnecessary columns. We can use *pandas* `drop()` method as follows:

In [21]:
# in pandas axis=0 represents rows (default) and axis=1 represents columns.
df_can.drop(['AREA','REG','DEV','Type','Coverage'], axis=1, inplace=True)
df_can.head(2)

,OdName,AreaName,RegName,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1450,1223,856,702,560,716,561,539,620,603

Let's rename the columns so that they make sense. We can use `rename()` method by passing in a dictionary of old and new names as follows:

In [22]:
df_can.rename(columns={'OdName':'Country', 'AreaName':'Continent', 'RegName':'Region'}, inplace=True)
df_can.columns

Index([  'Country', 'Continent',    'Region',   'DevName',        1980,
              1981,        1982,        1983,        1984,        1985,
              1986,        1987,        1988,        1989,        1990,
              1991,        1992,        1993,        1994,        1995,
              1996,        1997,        1998,        1999,        2000,
              2001,        2002,        2003,        2004,        2005,
              2006,        2007,        2008,        2009,        2010,
              2011,        2012,        2013],
      dtype='object')

We will also add a 'Total' column that sums up the total immigrants by country over the entire period 1980 - 2013, as follows:

In [23]:
df_can['Total'] = df_can.sum(axis=1)
df_can['Total']

TypeError: can only concatenate str (not "int") to str

In [24]:
print(df_can.dtypes)

Country      object
Continent    object
Region       object
DevName      object
1980          int64
1981          int64
1982          int64
1983          int64
1984          int64
1985          int64
1986          int64
1987          int64
1988          int64
1989          int64
1990          int64
1991          int64
1992          int64
1993          int64
1994          int64
1995          int64
1996          int64
1997          int64
1998          int64
1999          int64
2000          int64
2001          int64
2002          int64
2003          int64
2004          int64
2005          int64
2006          int64
2007          int64
2008          int64
2009          int64
2010          int64
2011          int64
2012          int64
2013          int64
dtype: object

In [26]:
print(df_can.columns)

Index([  'Country', 'Continent',    'Region',   'DevName',        1980,
              1981,        1982,        1983,        1984,        1985,
              1986,        1987,        1988,        1989,        1990,
              1991,        1992,        1993,        1994,        1995,
              1996,        1997,        1998,        1999,        2000,
              2001,        2002,        2003,        2004,        2005,
              2006,        2007,        2008,        2009,        2010,
              2011,        2012,        2013],
      dtype='object')

In [27]:
# Select only the columns with numeric values for summation
numeric_columns = df_can.loc[:, 1980:2013]

# Sum across the selected columns and create a new 'Total' column
df_can['Total'] = numeric_columns.sum(axis=1)

# Display the result
print(df_can[['Country', 'Total']])

            Country  Total
0       Afghanistan  58639
1           Albania  15699
2           Algeria  69439
3    American Samoa      6
4           Andorra     15
..              ...    ...
190        Viet Nam  97146
191  Western Sahara      2
192           Yemen   2985
193          Zambia   1677
194        Zimbabwe   8598

[195 rows x 2 columns]

We can check to see how many null objects we have in the dataset as follows:

In [28]:
df_can.isnull().sum()

Country      0
Continent    0
Region       0
DevName      0
1980         0
1981         0
1982         0
1983         0
1984         0
1985         0
1986         0
1987         0
1988         0
1989         0
1990         0
1991         0
1992         0
1993         0
1994         0
1995         0
1996         0
1997         0
1998         0
1999         0
2000         0
2001         0
2002         0
2003         0
2004         0
2005         0
2006         0
2007         0
2008         0
2009         0
2010         0
2011         0
2012         0
2013         0
Total        0
dtype: int64

Finally, let's view a quick summary of each column in our dataframe using the `describe()` method.

In [29]:
df_can.describe()

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
count,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,...,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000
mean,508.394872,566.989744,534.723077,387.435897,376.497436,358.861538,441.271795,691.133333,714.389744,843.241026,...,1320.292308,1266.958974,1191.820513,1246.394872,1275.733333,1420.287179,1262.533333,1313.958974,1320.702564,32867.451282
std,1949.588546,2152.643752,1866.997511,1204.333597,1198.246371,1079.309600,1225.576630,2109.205607,2443.606788,2555.048874,...,4425.957828,3926.717747,3443.542409,3694.573544,3829.630424,4462.946328,4030.084313,4247.555161,4237.951988,91785.498686
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.500000,1.000000,1.000000,...,28.500000,25.000000,31.000000,31.000000,36.000000,40.500000,37.500000,42.500000,45.000000,952.000000
50%,13.000000,10.000000,11.000000,12.000000,13.000000,17.000000,18.000000,26.000000,34.000000,44.000000,...,210.000000,218.000000,198.000000,205.000000,214.000000,211.000000,179.000000,233.000000,213.000000,5018.000000
75%,251.500000,295.500000,275.000000,173.000000,181.000000,197.000000,254.000000,434.000000,409.000000,508.500000,...,832.000000,842.000000,899.000000,934.500000,888.000000,932.000000,772.000000,783.000000,796.000000,22239.500000
max,22045.000000,24796.000000,20620.000000,10015.000000,10170.000000,9564.000000,9470.000000,21337.000000,27359.000000,23795.000000,...,42584.000000,33848.000000,28742.000000,30037.000000,29622.000000,38617.000000,36765.000000,34315.000000,34129.000000,691904.000000

---
## *pandas* Intermediate: Indexing and Selection (slicing)<a id="3"></a>

### Select Column
**There are two ways to filter on a column name:**

Method 1: Quick and easy, but only works if the column name does NOT have spaces or special characters.
```python
    df.column_name               # returns series
```

Method 2: More robust, and can filter on multiple columns.

```python
    df['column']                  # returns series
```

```python 
    df[['column 1', 'column 2']]  # returns dataframe
```
---

Example: Let's try filtering on the list of countries ('Country').

In [30]:
df_can.Country  # returns a series

0         Afghanistan
1             Albania
2             Algeria
3      American Samoa
4             Andorra
            ...
190          Viet Nam
191    Western Sahara
192             Yemen
193            Zambia
194          Zimbabwe
Name: Country, Length: 195, dtype: object

Let's try filtering on the list of countries ('Country') and the data for years: 1980 - 1985.

In [31]:
df_can[['Country', 1980, 1981, 1982, 1983, 1984, 1985]] # returns a dataframe
# notice that 'Country' is string, and the years are integers. 
# for the sake of consistency, we will convert all column names to string later on.

            Country  1980  1981  1982  1983  1984  1985
0       Afghanistan    16    39    39    47    71   340
1           Albania     1     0     0     0     0     0
2           Algeria    80    67    71    69    63    44
3    American Samoa     0     1     0     0     0     0
4           Andorra     0     0     0     0     0     0
..              ...   ...   ...   ...   ...   ...   ...
190        Viet Nam  1191  1829  2162  3404  7583  5907
191  Western Sahara     0     0     0     0     0     0
192           Yemen     1     2     1     6     0    18
193          Zambia    11    17    11     7    16     9
194        Zimbabwe    72   114   102    44    32    29

[195 rows x 7 columns]

### Select Row

There are main 2 ways to select rows:

```python
    df.loc[label]    # filters by the labels of the index/column
    df.iloc[index]   # filters by the positions of the index/column
```

Before we proceed, notice that the default index of the dataset is a numeric range from 0 to 194. This makes it very difficult to do a query by a specific country. For example to search for data on Japan, we need to know the corresponding index value.

This can be fixed very easily by setting the 'Country' column as the index using `set_index()` method.

In [32]:
df_can.set_index('Country', inplace=True)
# tip: The opposite of set is reset. So to reset the index, we can use df_can.reset_index()

In [33]:
df_can.head(3)

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,...,1223,856,702,560,716,561,539,620,603,15699
Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,69,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439

In [34]:
# optional: to remove the name of the index
df_can.index.name = None

Example: Let's view the number of immigrants from Japan (row 87) for the following scenarios:
    1. The full row data (all columns)
    2. For year 2013
    3. For years 1980 to 1985

In [35]:
# 1. the full row data (all columns)
df_can.loc['Japan']

Continent                 Asia
Region            Eastern Asia
DevName      Developed regions
1980                       701
1981                       756
1982                       598
1983                       309
1984                       246
1985                       198
1986                       248
1987                       422
1988                       324
1989                       494
1990                       379
1991                       506
1992                       605
1993                       907
1994                       956
1995                       826
1996                       994
1997                       924
1998                       897
1999                      1083
2000                      1010
2001                      1092
2002                       806
2003                       817
2004                       973
2005                      1067
2006                      1212
2007                      1250
2008                      1284
2009                      1194
2010                      1168
2011                      1265
2012                      1214
2013                       982
Total                    27707
Name: Japan, dtype: object

In [36]:
# alternate methods
df_can.iloc[87]

Continent                 Asia
Region            Eastern Asia
DevName      Developed regions
1980                       701
1981                       756
1982                       598
1983                       309
1984                       246
1985                       198
1986                       248
1987                       422
1988                       324
1989                       494
1990                       379
1991                       506
1992                       605
1993                       907
1994                       956
1995                       826
1996                       994
1997                       924
1998                       897
1999                      1083
2000                      1010
2001                      1092
2002                       806
2003                       817
2004                       973
2005                      1067
2006                      1212
2007                      1250
2008                      1284
2009                      1194
2010                      1168
2011                      1265
2012                      1214
2013                       982
Total                    27707
Name: Japan, dtype: object

In [37]:
df_can[df_can.index == 'Japan']

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Japan,Asia,Eastern Asia,Developed regions,701,756,598,309,246,198,248,...,1067,1212,1250,1284,1194,1168,1265,1214,982,27707

In [38]:
# 2. for year 2013
df_can.loc['Japan', 2013]

982

In [39]:
# alternate method
# year 2013 is the last column, with a positional index of 36
df_can.iloc[87, 36]

982

In [40]:
# 3. for years 1980 to 1985
df_can.loc['Japan', [1980, 1981, 1982, 1983, 1984, 1984]]

1980    701
1981    756
1982    598
1983    309
1984    246
1984    246
Name: Japan, dtype: object

In [41]:
# Alternative Method
df_can.iloc[87, [3, 4, 5, 6, 7, 8]]

1980    701
1981    756
1982    598
1983    309
1984    246
1985    198
Name: Japan, dtype: object

In [42]:
# Create a sample DataFrame
data = {'A': [1, 2, 3, 4, 5],
        'B': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data, index=['row1', 'row2', 'row3', 'row4', 'row5'])

# Using loc to select data by labels
print(df.loc['row2', 'A'])  # Output: 2

# Using iloc to select data by integer positions
print(df.iloc[1, 0])  # Output: 2

2
2

**Exercise:** Let's view the number of immigrants from **Haiti** for the following scenarios: <br>1. The full row data (all columns) <br>2. For year 2000 <br>3. For years 1990 to 1995

In [44]:
#df_can.loc['Haiti']
#df_can.loc['Haiti', 2000]
df_can.loc['Haiti', [1990, 1991, 1992, 1993, 1994, 1995]]

1990    2379
1991    2829
1992    2399
1993    3655
1994    2100
1995    2014
Name: Haiti, dtype: object

<details><summary>Click here for a sample python solution</summary>

```python
   # 1. the full row data (all columns)
    df_can.loc['Haiti']
    #or
    df_can[df_can.index == 'Haiti']

    # 2. for year 2000
    df_can.loc['Haiti', 2000]
           
    #  3. for years 1990 to 1995
    df_can.loc['Haiti', [1990, 1991, 1992, 1993, 1994, 1995]]
 ```

</details>

Column names that are integers (such as the years) might introduce some confusion. For example, when we are referencing the year 2013, one might confuse that when the 2013th positional index. 

To avoid this ambuigity, let's convert the column names into strings: '1980' to '2013'.

In [45]:
df_can.columns = list(map(str, df_can.columns))
[print (type(x)) for x in df_can.columns.values] #<-- uncomment to check type of column headers

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

Since we converted the years to string, let's declare a variable that will allow us to easily call upon the full range of years:

In [46]:
# useful for plotting later on
years = list(map(str, range(1980, 2014)))
years

['1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

**Exercise:** Create a list named 'year' using map function for years ranging from 1990 to 2013. <br>Then extract the data series from the dataframe df_can for Haiti using year list.

In [49]:
year = list(map(str,range(1990, 2014)))
haiti = df_can.loc['Haiti', year]

<details><summary>Click here for a sample python solution</summary>

```python
    #The correct answer is:
    year = list(map(str, range(1990, 2014)))
    haiti = df_can.loc['Haiti', year] # passing in years 1990 - 2013
    
```
</details>

### Filtering based on a criteria <a id="4"></a>
To filter the dataframe based on a condition, we simply pass the condition as a boolean vector. 

For example, Let's filter the dataframe to show the data on Asian countries (AreaName = Asia).

In [50]:
# 1. create the condition boolean series
condition = df_can['Continent'] == 'Asia'
print(condition)

Afghanistan        True
Albania           False
Algeria           False
American Samoa    False
Andorra           False
                  ...
Viet Nam           True
Western Sahara    False
Yemen              True
Zambia            False
Zimbabwe          False
Name: Continent, Length: 195, dtype: bool

In [51]:
# 2. pass this condition into the dataFrame
df_can[condition]

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Armenia,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,224,218,198,205,267,252,236,258,207,3310
Azerbaijan,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,359,236,203,125,165,209,138,161,57,2649
Bahrain,Asia,Western Asia,Developing regions,0,2,1,1,1,3,0,...,12,12,22,9,35,28,21,39,32,475
Bangladesh,Asia,Southern Asia,Developing regions,83,84,86,81,98,92,486,...,4171,4014,2897,2939,2104,4721,2694,2640,3789,65568
Bhutan,Asia,Southern Asia,Developing regions,0,0,0,0,1,0,0,...,5,10,7,36,865,1464,1879,1075,487,5876
Brunei Darussalam,Asia,South-Eastern Asia,Developing regions,79,6,8,2,2,4,12,...,4,5,11,10,5,12,6,3,6,600
Cambodia,Asia,South-Eastern Asia,Developing regions,12,19,26,33,10,7,8,...,370,529,460,354,203,200,196,233,288,6538
China,Asia,Eastern Asia,Developing regions,5123,6682,3308,1863,1527,1816,1960,...,42584,33518,27642,30037,29622,30391,28502,33024,34129,659962
"China, Hong Kong Special Administrative Region",Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,0,...,729,712,674,897,657,623,591,728,774,9327
"China, Macao Special Administrative Region",Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,0,...,21,32,16,12,21,21,13,33,29,284
Cyprus,Asia,Western Asia,Developing regions,132,128,84,46,46,43,48,...,7,9,4,7,6,18,6,12,16,1126
Democratic People's Republic of Korea,Asia,Eastern Asia,Developing regions,1,1,3,1,4,3,0,...,14,10,7,19,11,45,97,66,17,388
Georgia,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,114,125,132,112,128,126,139,147,125,2068
India,Asia,Southern Asia,Developing regions,8880,8670,8147,7338,5704,4211,7150,...,36210,33848,28742,28261,29456,34235,27509,30933,33087,691904
Indonesia,Asia,South-Eastern Asia,Developing regions,186,178,252,115,123,100,127,...,632,613,657,661,504,712,390,395,387,13150
Iran (Islamic Republic of),Asia,Southern Asia,Developing regions,1172,1429,1822,1592,1977,1648,1794,...,5837,7480,6974,6475,6580,7477,7479,7534,11291,175923
Iraq,Asia,Western Asia,Developing regions,262,245,260,380,428,231,265,...,2226,1788,2406,3543,5450,5941,6196,4041,4918,69789
Israel,Asia,Western Asia,Developing regions,1403,1711,1334,541,446,680,1212,...,2446,2625,2401,2562,2316,2755,1970,2134,1945,66508
Japan,Asia,Eastern Asia,Developed regions,701,756,598,309,246,198,248,...,1067,1212,1250,1284,1194,1168,1265,1214,982,27707
Jordan,Asia,Western Asia,Developing regions,177,160,155,113,102,179,181,...,1940,1827,1421,1581,1235,1831,1635,1206,1255,35406
Kazakhstan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,506,408,436,394,431,377,381,462,348,8490
Kuwait,Asia,Western Asia,Developing regions,1,0,8,2,1,4,4,...,66,35,62,53,68,67,58,73,48,2025
Kyrgyzstan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,173,161,135,168,173,157,159,278,123,2353
Lao People's Democratic Republic,Asia,South-Eastern Asia,Developing regions,11,6,16,16,7,17,21,...,42,74,53,32,39,54,22,25,15,1089
Lebanon,Asia,Western Asia,Developing regions,1409,1119,1159,789,1253,1683,2576,...,3709,3802,3467,3566,3077,3432,3072,1614,2172,115359
Malaysia,Asia,South-Eastern Asia,Developing regions,786,816,813,448,384,374,425,...,593,580,600,658,640,802,409,358,204,24417
Maldives,Asia,Southern Asia,Developing regions,0,0,0,1,0,0,0,...,0,0,2,1,7,4,3,1,1,30
Mongolia,Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,0,...,59,64,82,59,118,169,103,68,99,952
Myanmar,Asia,South-Eastern Asia,Developing regions,80,62,46,31,41,23,18,...,210,953,1887,975,1153,556,368,193,262,9245
Nepal,Asia,Southern Asia,Developing regions,1,1,6,1,2,4,13,...,607,540,511,581,561,1392,1129,1185,1308,10222
Oman,Asia,Western Asia,Developing regions,0,0,0,8,0,0,0,...,14,18,16,10,7,14,10,13,11,224
Pakistan,Asia,Southern Asia,Developing regions,978,972,1201,900,668,514,691,...,14314,13127,10124,8994,7217,6811,7468,11227,12603,241600
Philippines,Asia,South-Eastern Asia,Developing regions,6051,5921,5249,4562,3801,3150,4166,...,18139,18400,19837,24887,28573,38617,36765,34315,29544,511391
Qatar,Asia,Western Asia,Developing regions,0,0,0,0,0,0,1,...,11,2,5,9,6,18,3,14,6,157
Republic of Korea,Asia,Eastern Asia,Developing regions,1011,1456,1572,1081,847,962,1208,...,5832,6215,5920,7294,5874,5537,4588,5316,4509,142581
Saudi Arabia,Asia,Western Asia,Developing regions,0,0,1,4,1,2,5,...,198,252,188,249,246,330,278,286,267,3425
Singapore,Asia,South-Eastern Asia,Developing regions,241,301,337,169,128,139,205,...,392,298,690,734,366,805,219,146,141,14579
Sri Lanka,Asia,Southern Asia,Developing regions,185,371,290,197,1086,845,1838,...,4930,4714,4123,4756,4547,4422,3309,3338,2394,148358
State of Palestine,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,453,627,441,481,400,654,555,533,462,6512
Syrian Arab Republic,Asia,Western Asia,Developing regions,315,419,409,269,264,385,493,...,1458,1145,1056,919,917,1039,1005,650,1009,31485
Tajikistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,85,46,44,15,50,52,47,34,39,503
Thailand,Asia,South-Eastern Asia,Developing regions,56,53,113,65,82,66,78,...,575,500,487,519,512,499,396,296,400,9174
Turkey,Asia,Western Asia,Developing regions,481,874,706,280,338,202,257,...,2065,1638,1463,1122,1238,1492,1257,1068,729,31781
Turkmenistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,40,26,37,13,20,30,20,20,14,310
United Arab Emirates,Asia,Western Asia,Developing regions,0,2,2,1,2,0,5,...,31,42,37,33,37,86,60,54,46,836
Uzbekistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,330,262,284,215,288,289,162,235,167,3368
Viet Nam,Asia,South-Eastern Asia,Developing regions,1191,1829,2162,3404,7583,5907,2741,...,1852,3153,2574,1784,2171,1942,1723,1731,2112,97146
Yemen,Asia,Western Asia,Developing regions,1,2,1,6,0,18,7,...,161,140,122,133,128,211,160,174,217,2985

In [52]:
# we can pass multiple criteria in the same line.
# let's filter for AreaNAme = Asia and RegName = Southern Asia

df_can[(df_can['Continent']=='Asia') & (df_can['Region']=='Southern Asia')]

# note: When using 'and' and 'or' operators, pandas requires we use '&' and '|' instead of 'and' and 'or'
# don't forget to enclose the two conditions in parentheses

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Bangladesh,Asia,Southern Asia,Developing regions,83,84,86,81,98,92,486,...,4171,4014,2897,2939,2104,4721,2694,2640,3789,65568
Bhutan,Asia,Southern Asia,Developing regions,0,0,0,0,1,0,0,...,5,10,7,36,865,1464,1879,1075,487,5876
India,Asia,Southern Asia,Developing regions,8880,8670,8147,7338,5704,4211,7150,...,36210,33848,28742,28261,29456,34235,27509,30933,33087,691904
Iran (Islamic Republic of),Asia,Southern Asia,Developing regions,1172,1429,1822,1592,1977,1648,1794,...,5837,7480,6974,6475,6580,7477,7479,7534,11291,175923
Maldives,Asia,Southern Asia,Developing regions,0,0,0,1,0,0,0,...,0,0,2,1,7,4,3,1,1,30
Nepal,Asia,Southern Asia,Developing regions,1,1,6,1,2,4,13,...,607,540,511,581,561,1392,1129,1185,1308,10222
Pakistan,Asia,Southern Asia,Developing regions,978,972,1201,900,668,514,691,...,14314,13127,10124,8994,7217,6811,7468,11227,12603,241600
Sri Lanka,Asia,Southern Asia,Developing regions,185,371,290,197,1086,845,1838,...,4930,4714,4123,4756,4547,4422,3309,3338,2394,148358

**Exercise:** Fetch the data where AreaName is 'Africa' and RegName is 'Southern Africa'. <br>Display the dataframe and find out how many instances are there?

In [53]:
df_can[(df_can['Continent']=='Africa') & (df_can['Region']=='Southern Africa')]

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Botswana,Africa,Southern Africa,Developing regions,10,1,3,3,7,4,2,...,7,11,8,28,15,42,53,64,76,396
Lesotho,Africa,Southern Africa,Developing regions,1,1,1,2,7,5,3,...,4,0,4,1,8,7,1,0,6,107
Namibia,Africa,Southern Africa,Developing regions,0,5,5,3,2,1,1,...,6,19,13,26,14,16,23,24,83,320
South Africa,Africa,Southern Africa,Developing regions,1026,1118,781,379,271,310,718,...,988,1111,1200,1123,1188,1238,959,1243,1240,40568
Swaziland,Africa,Southern Africa,Developing regions,4,1,1,0,10,7,1,...,7,7,5,6,10,3,13,17,39,188

<details><summary>Click here for a sample python solution</summary>

```python
    df_can[(df_can['Continent']=='Africa') & (df_can['Region']=='Southern Africa')]
```
</details>

### Sorting Values of a Dataframe or Series <a id="5"></a><br>
You can use the `sort_values()` function is used to sort a DataFrame or a Series based on one or more columns. <br>You to specify the column(s) by which you want to sort and the order (ascending or descending). Below is the syntax to use it:-<br><br>
```df.sort_values(col_name, axis=0, ascending=True, inplace=False, ignore_index=False)```<br><br>
col_nam - the column(s) to sort by. <br>
axis - axis along which to sort. 0 for sorting by rows (default) and 1 for sorting by columns.<br>
ascending - to sort in ascending order (True, default) or descending order (False).<br>
inplace - to perform the sorting operation in-place (True) or return a sorted copy (False, default).<br>
ignore_index - to reset the index after sorting (True) or keep the original index values (False, default).<br>

Let's sort out dataframe df_can on 'Total' column, in descending order to find out the top 5 countries that contributed the most to immigration to Canada.

In [54]:
df_can.sort_values(by='Total', ascending=False, axis=0, inplace=True)
top_5 = df_can.head(5)
top_5

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
India,Asia,Southern Asia,Developing regions,8880,8670,8147,7338,5704,4211,7150,...,36210,33848,28742,28261,29456,34235,27509,30933,33087,691904
China,Asia,Eastern Asia,Developing regions,5123,6682,3308,1863,1527,1816,1960,...,42584,33518,27642,30037,29622,30391,28502,33024,34129,659962
United Kingdom of Great Britain and Northern Ireland,Europe,Northern Europe,Developed regions,22045,24796,20620,10015,10170,9564,9470,...,7258,7140,8216,8979,8876,8724,6204,6195,5827,551500
Philippines,Asia,South-Eastern Asia,Developing regions,6051,5921,5249,4562,3801,3150,4166,...,18139,18400,19837,24887,28573,38617,36765,34315,29544,511391
Pakistan,Asia,Southern Asia,Developing regions,978,972,1201,900,668,514,691,...,14314,13127,10124,8994,7217,6811,7468,11227,12603,241600

**Exercise:** Find out top 3 countries that contributes the most to immigration to Canda in the year 2010. <br> Display the country names with the immigrant count in this year

In [56]:
df_can.sort_values(by='2010', ascending=False, axis=0, inplace=True)
top3_2010 = df_can['2010'].head(3)
top3_2010

Philippines    38617
India          34235
China          30391
Name: 2010, dtype: int64

<details><summary>Click here for a sample python solution</summary>

```python
    df_can.sort_values(by='2010', ascending=False, axis=0, inplace=True)
    top3_2010 = df_can['2010'].head(3)
    top3_2010
```
</details>

Congratulations! you have learned how to wrangle data with Pandas. You will be using alot of these commands to preprocess the data before its can be used for data visualization.

### Thank you for completing this lab!


## Author

<a href="https://www.linkedin.com/in/aklson/" target="_blank">Alex Aklson</a>


### Other Contributors
[Jay Rajasekharan](https://www.linkedin.com/in/jayrajasekharan),
[Ehsan M. Kermani](https://www.linkedin.com/in/ehsanmkermani),
[Slobodan Markovic](https://www.linkedin.com/in/slobodan-markovic),
[Weiqing Wang](https://www.linkedin.com/in/weiqing-wang-641640133/),
[Dr. Pooja](https://www.linkedin.com/in/p-b28802262/)


## Change Log


|  Date (YYYY-MM-DD) | Version | Changed By    |  Change Description                   |
|--------------------|---------|---------------|---------------------------------------|
| 2023-06-08         | 2.5     | Dr. Pooja         |  Separated from original lab        |
| 2021-05-29         | 2.4     | Weiqing Wang  |  Fixed typos and code smells.         |
| 2021-01-20         | 2.3     | Lakshmi Holla |  Changed TOC cell markdown            |
| 2020-11-20         | 2.2     | Lakshmi Holla |  Changed IBM box URL                  |
| 2020-11-03         | 2.1     | Lakshmi Holla |  Changed URL and info method          |
| 2020-08-27         | 2.0     | Lavanya       |  Moved Lab to course repo in GitLab   |




## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>